# {{ ansible_managed }}
# CNAME records

# SRV records
{% for record in dnsmasq_records_srv %}
srv-host={{ record.service }},{{ record.address }},{{ record.port }},{{ record.prio if record.prio is defined else '10' }},{{ record.weight if record.weight is defined else '1' }}
{% endfor %}

# PTR records
{% for record in dnsmasq_records_ptr %}
ptr-record={{ record.address }},"{{ record.text }}"
{% endfor %}

# TXT records
{% for record in dnsmasq_records_txt %}
txt-record={{ record.address }},{{ record.text }}
{% endfor %}
